/* ============================================
	Page Structure
   ============================================ */
/**,

*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*/

/* ============================================
Structure
   ============================================ */

.browsehappy {
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 500;
	width: 100%;

    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    height: 30px;
}

html.lt-ie9 body{
	margin-top: 30px;
}



html,
body,
.lok-container,
.lok-view{
	height: 100%;
	position: relative;
}



.lok-view{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
.lok-view{
	z-index: 100;
}

.lok-lock-scroll.lok-container{
	overflow: hidden;
}

.lok-lock-scroll.lok-container .lok-view{
	overflow: hidden;
}

/*.mobile.ios .lok-container .lok-view,
.mobile.ios .lok-lock-scroll.lok-container .lok-view{
	overflow: scroll;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}*/

html.desktop{
	overflow-y: scroll;
}


/* ============================================
Page3D flip
   ============================================ */
.lok-3d-page-flip.lok-container{
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	-ms-perspective: 1500px;
	perspective: 1500px;
}

.lok-3d-page-flip.lok-container .lok-view{
	will-change: none;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}



/* ============================================
Timing - Close 3D
   ============================================ */
.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view.ng-enter.ng-enter-active {
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	-ms-transition: all 0.5s 0.1s;
	-o-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}
.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view{
	-webkit-transition: -webkit-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.5s, opacity 0.5s;
	-ms-transition: -ms-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.5s, opacity 0.5s;
	-o-transition: -o-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.5s, opacity 0.5s;
	transition: transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.5s, opacity 0.5s;
}

/* ============================================
Timing - Open 3D
   ============================================ */
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view{
	-webkit-transition: -webkit-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.2s, opacity 0.5s;
	-moz-transition: -moz-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.2s, opacity 0.5s;
	-ms-transition: -ms-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.2s, opacity 0.5s;
	-o-transition: -o-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.2s, opacity 0.5s;
	transition: transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s 0.2s, opacity 0.5s;
}

/* ============================================
Timing - Card Close
   ============================================ */
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave.ng-leave-active,
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave{
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	-ms-transition: all 0.5s 0.1s;
	-o-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}

/* ============================================
Timing - Card Open
   ============================================ */
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter.ng-enter-active,
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter{
	-webkit-transition: all 0.75s 0.5s;
	-moz-transition: all 0.75s 0.5s;
	-ms-transition: all 0.75s 0.5s;
	-o-transition: all 0.75s 0.5s;
	transition: all 0.75s 0.5s;
}



/* ============================================
	Start Card Open
	============================================ */
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter{
  	-webkit-transform: rotateY(-30deg) scale(0.7);
	-moz-transform: rotateY(-30deg) scale(0.7);
	-ms-transform: rotateY(-30deg) scale(0.7);
	-o-transform: rotateY(-30deg) scale(0.7);
	transform: rotateY(-30deg) scale(0.7);
	opacity: 0;
}


/* ============================================
Finish Card Open
   ============================================ */
/* ============================================
Start Card Close
   ============================================ */
/* ============================================
3d Menu Opened (3D State)
   ============================================ */
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter.ng-enter-active,
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave,
.lok-3d-page-flip.lok-container.lok-open-menu .lok-view{
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	-ms-transform: rotateY(-30deg);
	-o-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
	opacity: 0.5;
}



.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave.ng-leave-active {
  	-webkit-transform: rotateY(-30deg) scale(1.3);
	-moz-transform: rotateY(-30deg) scale(1.3);
	-ms-transform: rotateY(-30deg) scale(1.3);
	-o-transform: rotateY(-30deg) scale(1.3);
	transform: rotateY(-30deg) scale(1.3);
	opacity: 0;
}


/* ============================================
Desktop Close / Open Page
   ============================================ */
@media screen and (min-width: 961px) {

	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter {
		-webkit-transform: translateY(-50%) rotateY(-30deg) rotateX(15deg);
		-moz-transform: translateY(-50%) rotateY(-30deg) rotateX(15deg);
		-ms-transform: translateY(-50%) rotateY(-30deg) rotateX(15deg);
		-o-transform: translateY(-50%) rotateY(-30deg) rotateX(15deg);
		transform: translateY(-50%) rotateY(-30deg) rotateX(15deg);
		opacity: 0;
	}

	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter.ng-enter-active,
	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave,
	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view{
		-webkit-transform: rotateY(-30deg);
		-moz-transform: rotateY(-30deg);
		-ms-transform: rotateY(-30deg);
		-o-transform: rotateY(-30deg);
		transform: rotateY(-30deg);
		opacity: 0.5;

	}

	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave.ng-leave-active {
		-webkit-transform: translateY(50%) rotateY(-30deg) rotateX(-15deg);
		-moz-transform: translateY(50%) rotateY(-30deg) rotateX(-15deg);
		-ms-transform: translateY(50%) rotateY(-30deg) rotateX(-15deg);
		-o-transform: translateY(50%) rotateY(-30deg) rotateX(-15deg);
		transform: translateY(50%) rotateY(-30deg) rotateX(-15deg);
		opacity: 0;
	}
}

@media screen and (min-width: 1300px) {
	.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view,
	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view {
		-webkit-transition: all 0.5s 0.2s;
		-moz-transition: all 0.5s 0.2s;
		-ms-transition: all 0.5s 0.2s;
		-o-transition: all 0.5s 0.2s;
		transition: all 0.5s 0.2s;
	}

	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter {
		-webkit-transform: translateX(-108px) rotateY(-30deg);
		-moz-transform: translateX(-108px) rotateY(-30deg);
		-ms-transform: translateX(-108px) rotateY(-30deg);
		-o-transform: translateX(-108px) rotateY(-30deg);
		transform: translateX(-108px) rotateY(-30deg);
		opacity: 0;
	}

	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-enter.ng-enter-active,
	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave,
	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view{
		-webkit-transform: translateX(-100px) rotateY(-30deg);
		-moz-transform: translateX(-100px) rotateY(-30deg);
		-ms-transform: translateX(-100px) rotateY(-30deg);
		-o-transform: translateX(-100px) rotateY(-30deg);
		transform: translateX(-100px) rotateY(-30deg);
		opacity: 0.5;
	}
	.lok-3d-page-flip.lok-container.lok-open-menu .lok-view.ng-leave.ng-leave-active {
		-webkit-transform: translateX(-92px) rotateY(-30deg);
		-moz-transform: translateX(-92px) rotateY(-30deg);
		-ms-transform: translateX(-92px) rotateY(-30deg);
		-o-transform: translateX(-92px) rotateY(-30deg);
		transform: translateX(-92px) rotateY(-30deg);
		opacity: 0;
	}
}


/* ============================================
Page in 2D Scene and Trasnforms (For fixing iOS 7 Swipe)
:not() is for stopping the css inheritance for easier code organizing;
   ============================================ */

.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view{
	opacity: 1;
}

.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view.ng-leave {
	will-change: opacity;
	opacity: 1;
}
.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view.ng-leave.ng-leave-active {
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.2s;
	   -moz-transition: opacity 0.5s 0.2s;
	    -ms-transition: opacity 0.5s 0.2s;
	     -o-transition: opacity 0.5s 0.2s;
	        transition: opacity 0.5s 0.2s;
}



.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view.ng-enter {
	will-change: opacity;
	opacity: 0;
}
.lok-3d-page-flip.lok-container:not(.lok-open-menu) .lok-view.ng-enter.ng-enter-active {
	opacity: 1;
	-webkit-transition: opacity 1s 0.7s;
	   -moz-transition: opacity 1s 0.7s;
	    -ms-transition: opacity 1s 0.7s;
	     -o-transition: opacity 1s 0.7s;
	        transition: opacity 1s 0.7s;
}



/* ============================================
Menu Button
   ============================================ */
.lok-nav-trigger{
	position: fixed;
	z-index: 250;


	top: 0;
	left: -240px;
	width: 244px;

	color: yellow;

	height: 100%;
	background-color: rgba(255, 200, 0, 0.8) !important;
	background-color: #FFCC00;


	border: 0;
	margin: 0px 0px;

	cursor: pointer;

	will-change: transform,opacity;
	opacity: 0;

	-webkit-transition: -webkit-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s, opacity 0.5s 0.75s;
	-moz-transition: -moz-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s, opacity 0.5s 0.75s;
	-ms-transition: -ms-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s, opacity 0.5s 0.75s;
	-o-transition: -o-transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s, opacity 0.5s 0.75s;
	transition: transform cubic-bezier(0.09, 0.68, 0, 0.99) 0.5s, opacity 0.5s 0.75s;

	box-shadow: 0 0 10px 0 #ccc;

}



.lok-nav-trigger:hover,
.lok-nav-trigger.open{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;


	-webkit-transform: translateX(240px);
	-moz-transform: translateX(240px);
	-ms-transform: translateX(240px);
	-o-transform: translateX(240px);
	transform: translateX(240px);

/*
	-webkit-animation-timing-function: cubic-bezier(0.09, 0.68, 0, 0.99);
	-moz-animation-timing-function: cubic-bezier(0.09, 0.68, 0, 0.99);
	-o-animation-timing-function: cubic-bezier(0.09, 0.68, 0, 0.99);
	animation-timing-function: cubic-bezier(0.09, 0.68, 0, 0.99);
*/

	-webkit-animation-name: trigger-flash;
	animation-name: trigger-flash;

	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.lok-open-menu .lok-nav-trigger:hover{
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
}

/* prevents fouc */
.lok-nav-trigger{
	display: none;
}
.desktop .lok-nav-trigger{
	display: block;
}

.no-csstransforms3d .lok-nav-trigger:hover{
	left: 0px;
}

@-webkit-keyframes trigger-flash {
  0%, 50%, 100% {
    opacity: 0.85;
  }
  25%, 75% {
    opacity: 0.2;
  }
}

@keyframes trigger-flash {
  0%, 50%, 100% {
    opacity: 0.85;
  }
  25%, 75% {
    opacity: 0.2;
  }
}




/* ============================================
Menu Button
   ============================================ */
.lok-menu-btn{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 500;

	width: 100px;
	height: auto;

	border: 0;

	font-size: x-large;
	text-align: center;
	line-height: 59px;
	border-radius: 0px 0px 0px 10px;

	background-color: #222;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFCC00;
	margin: 0px 0px;

	cursor: pointer;

	opacity: 1;


	will-change: opacity, top;
	-webkit-transition: opacity 1s 0.75s;
	-moz-transition: opacity 1s 0.75s;
	-ms-transition: opacity 1s 0.75s;
	-o-transition: opacity 1s 0.75s;
	transition: opacity 1s 0.75s;
}

.lok-open-menu.lok-menu-btn{
	-webkit-transition: opacity 0.3s, top 0.1s 0.3s;
	-moz-transition: opacity 0.3s, top 0.1s 0.3s;
	-ms-transition: opacity 0.3s, top 0.1s 0.3s;
	-o-transition: opacity 0.3s, top 0.1s 0.3s;
	transition: opacity 0.3s, top 0.1s 0.3s;
	opacity: 0;
	top: -100%;
}


/* ============================================
Menu Structure
   ============================================ */
.lok-nav{
	position: absolute;

	top: 0px;
	left: -240px;

	width: 240px;
	height: 100%;
	z-index: 400;
}
.no-csstransforms3d .lok-nav{
	left: -240px;
}
.no-csstransforms3d .lok-open-menu .lok-nav{
	left: 0px;
}


@media only screen and (orientation:landscape) {
	.mobile .lok-nav{
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}


/* ============================================
Timing - Close Nav
   ============================================ */
.lok-nav{
	will-change: opacity, transform;
	-webkit-transition: opacity 0.5s, -webkit-transform 0s 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0s 0.5s;
	-ms-transition: opacity 0.5s, -ms-transform 0s 0.5s;
	-o-transition: opacity 0.5s, -o-transform 0s 0.5s;
	transition: opacity 0.5s, transform 0s 0.5s;
}
/* ============================================
Timing - Open Nav
   ============================================ */
.lok-open-menu .lok-nav{
	-webkit-transition: opacity 0.5s 0.75s;
	-moz-transition: opacity 0.5s 0.75s;
	-ms-transition: opacity 0.5s 0.75s;
	-o-transition: opacity 0.5s 0.75s;
	transition: opacity 0.5s 0.75s;
}


.lok-nav{
	opacity: 0;
}
.lok-open-menu .lok-nav{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;

	-webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}


/* ============================================
	MenuStyle
   ============================================ */
.lok-nav {
	cursor: default;
	background-color: rgba(255, 204, 0, 0.93) !important;
	background-color: #FFCC00;
}

.lok-nav ul {
	cursor: pointer;
	margin: 0;
	padding: 0;
	list-style: none;
}

.lok-nav h2 {
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	margin: 0;
	padding: 1em;
	color: rgba(0, 0, 0, 1);
	font-weight: 200;
	font-size: x-large;
	text-align: right;
	/* outline: red solid 1px; */
}

.lok-nav ul li a,
.lok-nav ul li button{
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-align: right;
	text-decoration: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
}

.lok-nav ul li button{
	background: #FFCC00;
	width: 100%;
	border: 0px;
}

.lok-nav ul li:first-child * {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

html:not(.touch) .lok-nav ul li a:hover,
.lok-nav ul li a.active {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


/* ============================================
	stagerring effect
 ============================================ */
.lok-nav h2,
.lok-nav ul li{
	will-change: transform, opacity;

	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	transform: translateX(-50px);
	opacity: 0;
}

.lok-open-menu .lok-nav h2,
.lok-open-menu .lok-nav ul li{
	opacity: 1;

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);

}

.lok-nav h2,
.lok-nav ul li{
	-webkit-transition: -webkit-transform 0s, opacity 0s;
	-moz-transition: -moz-transform 0s, opacity 0s;
	-ms-transition: -ms-transform 0s, opacity 0s;
	-o-transition: -o-transform 0s, opacity 0s;
	transition: transform 0s, opacity 0s;
}
.lok-open-menu .lok-nav h2,
.lok-open-menu .lok-nav ul li{
	-webkit-transition: -webkit-transform 0.5s, opacity 1s;
	-moz-transition: -moz-transform 0.5s, opacity  1s;
	-ms-transition: -ms-transform 0.5s, opacity  1s;
	-o-transition: -o-transform 0.5s, opacity  1s;
	transition: transform 0.5s, opacity  1s;
}
.lok-open-menu .lok-nav h2{
	-webkit-transition-delay: 1.25s;
	-moz-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	-o-transition-delay: 1.25s;
	transition-delay: 1.25s;
}


.lok-open-menu .lok-nav ul li:nth-child(1){
	-webkit-transition-delay: 1.35s;
	-moz-transition-delay: 1.35s;
	-ms-transition-delay: 1.35s;
	-o-transition-delay: 1.35s;
	transition-delay: 1.35s;
}

.lok-open-menu .lok-nav ul li:nth-child(2){
	-webkit-transition-delay: 1.45s;
	-moz-transition-delay: 1.45s;
	-ms-transition-delay: 1.45s;
	-o-transition-delay: 1.45s;
	transition-delay: 1.45s;
}

.lok-open-menu .lok-nav ul li:nth-child(3){
	-webkit-transition-delay: 1.55s;
	-moz-transition-delay: 1.55s;
	-ms-transition-delay: 1.55s;
	-o-transition-delay: 1.55s;
	transition-delay: 1.55s;
}

.lok-open-menu .lok-nav ul li:nth-child(4){
	-webkit-transition-delay: 1.65s;
	-moz-transition-delay: 1.65s;
	-ms-transition-delay: 1.65s;
	-o-transition-delay: 1.65s;
	transition-delay: 1.65s;
}


.lok-open-menu .lok-nav ul li:nth-child(5){
	-webkit-transition-delay: 1.3s;
	-moz-transition-delay: 1.3s;
	-ms-transition-delay: 1.3s;
	-o-transition-delay: 1.3s;
	transition-delay: 1.3s;
}


/* ============================================
	ScrollBar
   ============================================ */
/*
::-webkit-scrollbar {
	width: 5px;
	position: absolute;
	top: 0;
	right: 0;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #DADADA;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #FFCC00;
	border: #EEBE00 solid 1px;
}
*/

/*
.lok-open-menu ::-webkit-scrollbar {
	display: none;
}
*/



/* ============================================
ProgressBar
   ============================================ */
.progress-bar-target{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;

	width: 100%;
	height: 57px;
	background: rgba(0,0,0,0);

	display: none;
}
.progress-bar-target.nprogress-busy{
	display: block;
}

.no-csstransforms3d .lok-container.lok-open-menu,
.no-js .lok-container.lok-open-menu {
    padding-left: 300px;
}


html.lt-ie9{
	overflow-y: scroll;
}

.no-csstransforms3d .lok-lock-scroll.lok-container::after,
.no-js .lok-lock-scroll.lok-container::after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 300;

	display: block;
	width: 100%;
	height: 100%;

	opacity: 0.5s;
	background-color: rgba(0,0,0,0.2);
}



.lt-ie9 .container,
.lt-ie8 .container,
.lt-ie7 .container{
	width: 960px;
}


/*


*/


