/* ============================================
Style
   ============================================ */
.lok-nav {
  cursor: default;
  background-color: rgba(255, 204, 0, 0.93) !important;
  background-color: #FFCC00;
}

.lok-nav ul {
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lok-nav h2 {
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, 1);
  font-weight: 200;
  font-size: x-large;
  text-align: right;
  /* outline: red solid 1px; */
}

.lok-nav ul li a,
.lok-nav ul li button{
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
}

.lok-nav ul li button{
  background: #FFCC00;
  width: 100%;
  border: 0px;
}

.lok-nav ul li:first-child * {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

html:not(.touch) .lok-nav ul li a:hover,
.lok-nav ul li a.active {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
}




/* ============================================
Button Style
   ============================================ */
.lok-menu-btn{
  width: 100px;
  border: 0;

  font-size: x-large;
  text-align: center;
  line-height: 59px;
  border-radius: 0px 0px 0px 10px;

  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFCC00;
  margin: 0px 0px;

  cursor: pointer;
}



/* ============================================
	ScrollBar
   ============================================ */
::-webkit-scrollbar {
	width: 5px;
	position: absolute;
	top: 0;
	right: 0;
}
::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #DADADA;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #FFCC00;
	border: #EEBE00 solid 1px;
}


iframe{ overflow-x: hidden; overflow-y: scroll }

/* ============================================
	welcomepage
   ============================================ */

.lok-nav{
	background-color: #FFCC00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FFED24));
	background-image: -webkit-linear-gradient(top, #FFCC00, #FFED24);
	background-image: -moz-linear-gradient(top, #FFCC00, #FFED24);
	background-image: -ms-linear-gradient(top, #FFCC00, #FFED24);
	background-image: -o-linear-gradient(top, #FFCC00, #FFED24);
	background-image: linear-gradient(to bottom, #FFCC00, #FFED24);
}

.hero-paper{
	height: 380px;
	width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

	background-color: #FFCC00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5E400), to(#FAC400));
	background-image: -webkit-linear-gradient(top, #F5E400, #FAC400);
	background-image: -moz-linear-gradient(top, #F5E400, #FAC400);
	background-image: -ms-linear-gradient(top, #F5E400, #FAC400);
	background-image: -o-linear-gradient(top, #F5E400, #FAC400);
	background-image: linear-gradient(to bottom, #F5E400, #FAC400);

}


.hero-paper-welcome-msg{
	color: rgb(97, 69, 43);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 19em;
	text-align: center;
}


::selection {
	background: rgba(0, 0, 0, 0.5); /* Safari */
	color: white;
}
::-moz-selection {
	background: rgba(0, 0, 0, 0.5); /* Safari */
	color: white;
}


.intro-paper{
	/*text-shadow: 0 0 1px rgba(0,0,0,0.1);*/
	font-family: 'Open Sans', sans-serif;

	/*font-family: 'Lato', sans-serif;*/

	font-weight: 100;

}

.into-paper p{
	font-size: 14px;
}

.intro-paper ol li{
	padding: 5px;
	font-size: 17px;
}


.intro-paper ul li{
	padding: 5px;
	font-size: 17px;
}


.intro-paper img{
	width: 100%;
}


.intro-paper img.preview{
	width:100%;
}


.intro-paper .contact li{
	padding: 3px;
	font-size: 17px;
	font-weight: normal;
}


.btn-control{
	margin: 5px 0px;
}











